<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
<body>
  <div class="topbar">
    <div class="logo-wrap">
      <!-- <div class="circle-logo"></div> -->
      <svg class="logo" width="100" height="100">
        <circle cx="50" cy="50" r="35" stroke-width="6" stroke="#fff" fill="#b3c7cf"/>
        <circle cx="50" cy="50" r="20" fill="#92adb9"/>
        <circle cx="50" cy="50" r="14" fill="#7499AA"/>
      </svg>
      <div class="book-title">
        <div class="prog-mod">Programming Models for</div>
        <div class="dist-comp">Distributed Computing</div>
      </div>
    </div>
  </div>
  <div class="body-wrap">
    <div class="container">
      <!-- {% include header.html %} -->

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div>
  </div>
</body>

</html>
